*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}

html body{
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

/*****头****/
.headDiv{
    position: absolute;
    width: 100%;
    height: 20%;
    min-height: 120px;
    min-width: 1000px;
    /*background-color: #9c9c9c;*/
}

.searchDiv{
    position: absolute;
    text-align: center;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.searchTitle{
    font-size: 15px;
    color: #2293FD;
    font-weight: bold;
    line-height: 40px;
}

.newInput{
    display: inline !important;
    width: 250px !important;
    height: 40px !important;
    border-radius: 20px !important;
    box-shadow: 1px 1px 15px #D2D2D2;
    margin-left: 20px;
    margin-right: 135px;
    padding-left: 30px !important;
}

.btnDiv{
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto 0;
}

.newBtn{
    box-shadow: 0 0 10px #D2D2D2;
    margin-left: 20px !important;
    background-color: #F2F2F2 !important;
    border-width: 0 !important;
    width: 90px;
    height: 40px !important;
}

.newBtn i{
    font-size: 12px;
    color: #2293FD !important;
    font-weight: bold;
}

.newBtn span{
    font-size: 14px;
    color: #2293FD !important;
    font-weight: bold;
}



/******身*****/
.bodyDiv{
    position: absolute;
    width: 100%;
    height: 60%;
    top: 20%;
    min-width: 1000px;
    min-height: 600px;
    /*background-color: #1E9FFF;*/
}

.keyWords{
    position: absolute;
    width: 85%;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: #E3E3E3;*/
    margin: 0 auto;
    overflow:  hidden;
}

.hasSaved{
    font-size: 14px;
    color: #2293FD;
    margin-left: 13%;
    line-height: 30px;
    font-weight: bold;
}

.eachWord{
    position: relative;
    width: 14%;
    height: 40px;
    background-color: #EAEAEA;
    margin: 2.5% 3% 0 3%;
    float: left;
}

.eachWord i {
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 18px;
    cursor: pointer;
    color: #999999;
}

.eachWord span{
    position: absolute;
    font-size: 14px;
    height: 20px;
    width: 75%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666666;
    font-weight: normal;
}










/******足*****/
.footDiv{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    min-width: 1000px;
    /*background-color: #E3E3E3;*/
}

.footInfo{
    position: absolute;
    height: 40px;
    top: 0;
    bottom: 0;
    right: 10%;
    margin: auto 0;
}

.countWord{
    font-size: 14px;
    color: #2293FD;
    margin-right: 50px;
    line-height: 40px;
    font-weight: bold;
}

.countNum{
    color: #9F9F9F;
}

.saveBtn{
    width: 120px;
    box-shadow: 0 0 15px #D2D2D2;
    height: 40px !important;
}

.saveBtn span{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 5px;
}


